body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.setting-box {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #f2f2f2;
  background-color: #3c3c3c;
  text-align: center;
  padding: 10px;
}

* {
  padding: 0px;
  margin: 0px;
}

h2{
  margin-bottom: 10px;
}

.color-block {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  display: inline-block;
  margin: 0px 2px;
  cursor: pointer;
}
.color-select{
  margin-top: 5px;
}